@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

:root {
  --sky: #a7e9f0;
  --ground: #a69a88;
  --clouds: #f0f0f0;
  --font: #543d5c;
  --sun: #e3e847;
  --rocks: #877e5c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Roboto Slab, Arial;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  
  
  
}



.skyContainer {
  position: absolute;
  width: 100%;
  height: 75%;
  background-color: var(--sky);
  
}

.sky {
  
  height: 100%;
  width: 100vw;
  background-repeat: no-repeat;
}

.groundContainer {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0px;
  
  background-image: linear-gradient(#2b1b38, #6d4a59);
}

/* .ground {
  background-image
  transform: scale(1, -3) translateY(-360px); 
  
  background-repeat: no-repeat;
  background-size: cover;
} */

.dog {
  position: absolute;
  background-color: transparent;
  width: 200px;
  height: 200px;
  bottom: 21.5%;
  left: 15%;
}

.dogImg {
  height: 100%;
}
.dogActive {
  animation: jump 0.6s linear normal;
}
@keyframes jump {
  25% {bottom: 50%}
  50% {bottom: 55%}
  75% {bottom: 50%}
  
}

.rock {
  position: absolute;
  background-color: transparent;
  width: 100px;
  height: 100px;
  bottom: 25%;
  right: -100px;
  
  display:none;
}

.rockImg {
  height: 100%;
}
.rockActive {
  animation: cross 1s linear infinite normal;
  display: block;
}
@keyframes cross {
  
  
  100% {
    right: 100vw;
    visibility:visible;
  }
  
}

.score {
  position: fixed;
  bottom: 20%;
  left: 18.3%;
  color: white;
  font-size: 20px;
}

.gameOver, .start{
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  padding: 10px 25px;
  border-radius: 15px;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 20px;;
}


header, footer {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  padding: 10px 25px;
  border-radius: 15px;
  
}

header {
  top: 15%;
  font-size: 45px;
  
}
h1 {
  padding: 0px 20px;
}
footer {
  bottom: 0%;
  
}